@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


.font-amatic {
  font-family: 'Amatic SC';
  font-weight: 700;
}

/* headings */
.font-balsamiq {
  font-family: 'Balsamiq Sans', sans-serif;
}

/* subheadings, menu items */
.font-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

/* regular text */

/* div {
  border: 1px solid red;
}

img {
  border: 1px solid green;
}

p {
  border: 1px solid blue;
} */

::-webkit-scrollbar {
  display: none;
}

.leading-free {
  line-height: 2.5;
}
