<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagink API</title>
    <style>
        body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        flex-direction: column;
        }
    </style>
</head>

<body>
        <h1>Welcome to PagInk API</h1>
        <h2>By the way..</h2>
        <h3>WHAT THE HELL ARE YOU DOING HERE?</h3>
        <span style="font-size: 100px">🫣</span>
</body>
</html>